@font-face {
    font-family: "SDGothicNeoa";
    src: url("../font/SDGothicNeoaTTF-eMd.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "SDGothicNeoa";
    src: url("../font/SDGothicNeoaTTF-fSm.woff2") format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "SDGothicNeoa";
    src: url("../font/SDGothicNeoaTTF-gBd.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "Lustria";
    src: url("../font/Lustria-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Pretendard";
    src: url("../font/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Pretendard";
    src: url("../font/Pretendard-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Pretendard";
    src: url("../font/Pretendard-SemiBold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Pretendard";
    src: url("../font/Pretendard-Black.woff") format("woff");
    font-weight: 700;
}
